In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
import re
%matplotlib inline

In [5]:
df = pd.read_csv('OxCGRT_latest.csv')
df

C:\Users\adm\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (2,3,41,42) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,CountryName,CountryCode,RegionName,RegionCode,Jurisdiction,Date,C1_School closing,C1_Flag,C2_Workplace closing,C2_Flag,...,StringencyIndex,StringencyIndexForDisplay,StringencyLegacyIndex,StringencyLegacyIndexForDisplay,GovernmentResponseIndex,GovernmentResponseIndexForDisplay,ContainmentHealthIndex,ContainmentHealthIndexForDisplay,EconomicSupportIndex,EconomicSupportIndexForDisplay
0,Aruba,ABW,NaN,NaN,NAT_TOTAL,20200101,0.0,NaN,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0
1,Aruba,ABW,NaN,NaN,NAT_TOTAL,20200102,0.0,NaN,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0
2,Aruba,ABW,NaN,NaN,NAT_TOTAL,20200103,0.0,NaN,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0
3,Aruba,ABW,NaN,NaN,NAT_TOTAL,20200104,0.0,NaN,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0
4,Aruba,ABW,NaN,NaN,NAT_TOTAL,20200105,0.0,NaN,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251155,Zimbabwe,ZWE,NaN,NaN,NAT_TOTAL,20220311,NaN,NaN,NaN,NaN,...,NaN,50.0,NaN,63.1,NaN,52.6,NaN,60.12,NaN,0.0
251156,Zimbabwe,ZWE,NaN,NaN,NAT_TOTAL,20220312,NaN,NaN,NaN,NaN,...,NaN,50.0,NaN,63.1,NaN,52.6,NaN,60.12,NaN,0.0
251157,Zimbabwe,ZWE,NaN,NaN,NAT_TOTAL,20220313,NaN,NaN,NaN,NaN,...,NaN,50.0,NaN,63.1,NaN,52.6,NaN,60.12,NaN,0.0
251158,Zimbabwe,ZWE,NaN,NaN,NAT_TOTAL,20220314,NaN,NaN,NaN,NaN,...,NaN,50.0,NaN,63.1,NaN,52.6,NaN,60.12,NaN,0.0
251159,Zimbabwe,ZWE,NaN,NaN,NAT_TOTAL,20220315,NaN,NaN,NaN,NaN,...,NaN,50.0,NaN,63.1,NaN,52.6,NaN,60.12,NaN,0.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251160 entries, 0 to 251159
Data columns (total 61 columns):
 #   Column                                                                           Non-Null Count   Dtype
---  ------                                                                           --------------   -----
 0   CountryName                                                                      251160 non-null  object
 1   CountryCode                                                                      251160 non-null  object
 2   RegionName                                                                       101430 non-null  object
 3   RegionCode                                                                       101430 non-null  object
 4   Jurisdiction                                                                     251160 non-null  object
 5   Date                                                                             251160 non-null  int64
 6   C1_School closing                                                                244918 non-null  float64
 7   C1_Flag                                                                          197741 non-null  float64
 8   C2_Workplace closing                                                             244903 non-null  float64
 9   C2_Flag                                                                          189539 non-null  float64
 10  C3_Cancel public events                                                          244852 non-null  float64
 11  C3_Flag                                                                          199755 non-null  float64
 12  C4_Restrictions on gatherings                                                    244723 non-null  float64
 13  C4_Flag                                                                          180884 non-null  float64
 14  C5_Close public transport                                                        244819 non-null  float64
 15  C5_Flag                                                                          101012 non-null  float64
 16  C6_Stay at home requirements                                                     244818 non-null  float64
 17  C6_Flag                                                                          146444 non-null  float64
 18  C7_Restrictions on internal movement                                             240685 non-null  float64
 19  C7_Flag                                                                          147522 non-null  float64
 20  C8_International travel controls                                                 244757 non-null  float64
 21  E1_Income support                                                                244486 non-null  float64
 22  E1_Flag                                                                          146281 non-null  float64
 23  E2_Debt/contract relief                                                          244651 non-null  float64
 24  E3_Fiscal measures                                                               146636 non-null  float64
 25  E4_International support                                                         146532 non-null  float64
 26  H1_Public information campaigns                                                  240728 non-null  float64
 27  H1_Flag                                                                          227537 non-null  float64
 28  H2_Testing policy                                                                240597 non-null  float64
 29  H3_Contact tracing                                                               240512 non-null  float64
 30  H4_Emergency investment in healthcare                                            146359 non-null  float64
 31  H5_Investment in vaccines                                                        196106 non-null  float64
 32  H6_Facial Coverings                                                              240887 non-null  float64
 33  H6_Flag                                                                          203098 non-null  float64
 34  H7_Vaccination policy                                                            240981 non-null  float64
 35  H7_Flag                                                                          116705 non-null  float64
 36  H8_Protection of elderly people                                                  240380 non-null  float64
 37  H8_Flag                                                                          178802 non-null  float64
 38  M1_Wildcard                                                                      0 non-null       float64
 39  V1_Vaccine Prioritisation (summary)                                              183639 non-null  float64
 40  V2A_Vaccine Availability (summary)                                               182895 non-null  float64
 41  V2B_Vaccine age eligibility/availability age floor (general population summary)  83170 non-null   object
 42  V2C_Vaccine age eligibility/availability age floor (at risk summary)             84614 non-null   object
 43  V2D_Medically/ clinically vulnerable (Non-elderly)                               93465 non-null   float64
 44  V2E_Education                                                                    93465 non-null   float64
 45  V2F_Frontline workers  (non healthcare)                                          93465 non-null   float64
 46  V2G_Frontline workers  (healthcare)                                              93465 non-null   float64
 47  V3_Vaccine Financial Support (summary)                                           182880 non-null  float64
 48  V4_Mandatory Vaccination (summary)                                               31522 non-null   float64
 49  ConfirmedCases                                                                   240452 non-null  float64
 50  ConfirmedDeaths                                                                  240364 non-null  float64
 51  StringencyIndex                                                                  240681 non-null  float64
 52  StringencyIndexForDisplay                                                        241493 non-null  float64
 53  StringencyLegacyIndex                                                            244818 non-null  float64
 54  StringencyLegacyIndexForDisplay                                                  245630 non-null  float64
 55  GovernmentResponseIndex                                                          240621 non-null  float64
 56  GovernmentResponseIndexForDisplay                                                241444 non-null  float64
 57  ContainmentHealthIndex                                                           240621 non-null  float64
 58  ContainmentHealthIndexForDisplay                                                 241444 non-null  float64
 59  EconomicSupportIndex                                                             244313 non-null  float64
 60  EconomicSupportIndexForDisplay                                                   245123 non-null  float64
dtypes: float64(53), int64(1), object(7)
memory usage: 116.9+ MB

In [7]:
data = df[['CountryName', 'CountryCode','RegionName', 'Date', 'ConfirmedCases', 'ConfirmedDeaths', 'GovernmentResponseIndex']]

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251160 entries, 0 to 251159
Data columns (total 7 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   CountryName              251160 non-null  object
 1   CountryCode              251160 non-null  object
 2   RegionName               101430 non-null  object
 3   Date                     251160 non-null  int64
 4   ConfirmedCases           240452 non-null  float64
 5   ConfirmedDeaths          240364 non-null  float64
 6   GovernmentResponseIndex  240621 non-null  float64
dtypes: float64(3), int64(1), object(3)
memory usage: 13.4+ MB

In [10]:
data['CountryName'].value_counts()
# 186 countries data collected

United States     41860
China             25760
Brazil            22540
Canada            11270
United Kingdom     4025
                  ...
Greece              805
Greenland           805
Guatemala           805
Guam                805
Zimbabwe            805
Name: CountryName, Length: 186, dtype: int64

In [11]:
data['ConfirmedCases'].value_counts()
# 11695 samples have 0 confirmed cases

0.0         11695
1.0          1957
18.0         1014
2.0           745
147.0         587
            ...
465158.0        1
464930.0        1
464754.0        1
464383.0        1
242069.0        1
Name: ConfirmedCases, Length: 126142, dtype: int64

In [12]:
pd.options.mode.chained_assignment = None 
data['Date'] = data['Date'].astype(str, copy = True)
data['Year'] = data['Date'].str[:4]
data['Month'] = data['Date'].str[4:6]
data['Day'] = data['Date'].str[6:]
# extract year, month, day from date

In [13]:
data['ConfirmedCases'].fillna(0, inplace = True)
data['ConfirmedDeaths'].fillna(0, inplace = True)
# fill confirm case and confirm death with 0

In [15]:
date13 = data[(data['Year'] == '2022') & (data['Month'] == '03') & (data['Day'] == '13')].index
data.drop(index = date13, inplace = True)
date14 = data[(data['Year'] == '2022') & (data['Month'] == '03') & (data['Day'] == '14')].index
date15 = data[(data['Year'] == '2022') & (data['Month'] == '03') & (data['Day'] == '15')].index
data.drop(index = date14, inplace = True)
data.drop(index = date15, inplace = True)
# drop March 13,14,15 2022 from dataframe

In [17]:
data.info()
# government response index data is missing

<class 'pandas.core.frame.DataFrame'>
Int64Index: 250224 entries, 0 to 251156
Data columns (total 10 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   CountryName              250224 non-null  object
 1   CountryCode              250224 non-null  object
 2   RegionName               101052 non-null  object
 3   Date                     250224 non-null  object
 4   ConfirmedCases           250224 non-null  float64
 5   ConfirmedDeaths          250224 non-null  float64
 6   GovernmentResponseIndex  240429 non-null  float64
 7   Year                     250224 non-null  object
 8   Month                    250224 non-null  object
 9   Day                      250224 non-null  object
dtypes: float64(3), object(7)
memory usage: 29.1+ MB

In [19]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [20]:

datafullGRI = data[data['GovernmentResponseIndex'].isna() == False]
X = datafullGRI[['ConfirmedCases', 'ConfirmedDeaths']]
y = datafullGRI['GovernmentResponseIndex']

In [21]:
regressor = LinearRegression()
regressor.fit(X, y)
# fit the data into regresison object

LinearRegression()

In [22]:
coeff_df = pd.DataFrame(regressor.coef_, X.columns, columns=['Coefficient'])
coeff_df
# coefficient of linear regression fitting

                  Coefficient
ConfirmedCases  -5.420980e-07
ConfirmedDeaths  6.718988e-05

In [24]:
X_test = GRInan[['ConfirmedCases', 'ConfirmedDeaths']]
y_pred = regressor.predict(X_test)
GRInan['GovernmentResponseIndex'] = y_pred
# using linear regression to predict data that has GRI as nan

In [26]:
GRInan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1567 entries, 1602 to 251156
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   CountryName              1567 non-null   object
 1   CountryCode              1567 non-null   object
 2   RegionName               694 non-null    object
 3   Date                     1567 non-null   object
 4   ConfirmedCases           1567 non-null   float64
 5   ConfirmedDeaths          1567 non-null   float64
 6   GovernmentResponseIndex  1567 non-null   float64
 7   Year                     1567 non-null   object
 8   Month                    1567 non-null   object
 9   Day                      1567 non-null   object
dtypes: float64(3), object(7)
memory usage: 134.7+ KB

In [27]:
# merge GRInan and datafullGRI
finaldata = datafullGRI.append(GRInan)

In [29]:
finaldata = finaldata[finaldata['ConfirmedCases']> 0]

In [30]:
finaldata

,CountryName,CountryCode,RegionName,Date,ConfirmedCases,ConfirmedDeaths,GovernmentResponseIndex,Year,Month,Day
72,Aruba,ABW,NaN,20200313,2.0,0.0,2.080000,2020,03,13
73,Aruba,ABW,NaN,20200314,2.0,0.0,2.080000,2020,03,14
74,Aruba,ABW,NaN,20200315,2.0,0.0,2.080000,2020,03,15
75,Aruba,ABW,NaN,20200316,2.0,0.0,8.330000,2020,03,16
76,Aruba,ABW,NaN,20200317,3.0,0.0,14.580000,2020,03,17
...,...,...,...,...,...,...,...,...,...,...
251152,Zimbabwe,ZWE,NaN,20220308,240343.0,5400.0,50.834717,2022,03,08
251153,Zimbabwe,ZWE,NaN,20220309,240343.0,5400.0,50.834717,2022,03,09
251154,Zimbabwe,ZWE,NaN,20220310,241548.0,5408.0,50.834601,2022,03,10
251155,Zimbabwe,ZWE,NaN,20220311,241548.0,5408.0,50.834601,2022,03,11
251156,Zimbabwe,ZWE,NaN,20220312,242069.0,5412.0,50.834587,2022,03,12